// examples:
// $primary: #ffa600;
// 
$enable-shadows: false;
$enable-gradients: false;
$enable-rounded: false;
$input-placeholder-color: lightgray;
$input-border-color: black;

$sitecolor: #500014;

// theme colors
$primary: $sitecolor;
$secondary: #505050;
$success: #548545;
$danger: #f44336;
$warning: #d1750d;
$info: #21212d;

@import "~bootstrap/scss/bootstrap.scss";

body, html, #app { height: 100%; }